html,
body,
.mainPage {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  position: relative;
  height: 56px;
  background-color: cornflowerblue;
}
ul {
  float: none;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 8px;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
  background-color: cornflowerblue;
  z-index: 10;
  top: 100%;
}
ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 0;
}
ul li a:hover {
  text-decoration: underline;
  background-color: rgb(150, 180, 240);
  cursor: pointer;
}
nav button.menuButton {
  display: block;
  position: relative;
  height: 56px;
  width: 56px;
  border: 0;
  border-radius: 0;
  background-color: cornflowerblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  float: left;
}
nav button.menuButton:hover {
  background-color: rgb(150, 180, 240);
  cursor: pointer;
}
img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
div.titleLink {
  position: relative;
  overflow: hidden;
  float: none;
  height: 56px;
  width: calc(100% - 168px);
  display: block;
  float: left;
}
div.titleLink a {
  text-decoration: none;
  color: black;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  line-height: 56px;
  font-size: 32px;
  font-weight: 700;
  height: 56px;
  width: 370px;
  padding: 0 20px;
  display: block;
  overflow: hidden;
}
div.titleLink a:hover {
  background-color: rgb(150, 180, 240);
  text-decoration: underline;
  cursor: pointer;
}
nav button.profileIcon {
  display: block;
  position: relative;
  height: 56px;
  width: 56px;
  border: 0;
  border-radius: 0;
  background-color: cornflowerblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  float: right;
}
nav button.profileIcon:hover {
  background-color: rgb(150, 180, 240);
  cursor: pointer;
}
nav button.addPostIcon {
  display: block;
  position: relative;
  height: 56px;
  width: 56px;
  border: 0;
  border-radius: 0;
  background-color: cornflowerblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  float: left;
}
nav button.addPostIcon:hover {
  background-color: rgb(150, 180, 240);
  cursor: pointer;
}
